In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df_merged_data = pd.read_csv("Combined_Rental_Median_Price_Inventory.csv")
df_merged_data.head()

,Borough,2010 Total Rentals,2010 Median Rent,2011 Total Rentals,2011 Median Rent,2012 Total Rentals,2012 Median Rent,2013 Total Rentals,2013 Median Rent,2014 Total Rentals,...,2019 Total Rentals,2019 Median Rent,2020 Total Rentals,2020 Median Rent,2021 Total Rentals,2021 Median Rent,2022 Total Rentals,2022 Median Rent,2023 Total Rentals,2023 Median Rent
0,Bronx,3087,$1425.00,3674,$1210.75,5419,$1425.00,5462,$1275.00,10815,...,24007,$1829.00,17403,$1850.00,21560,$1851.00,22666,$1985.00,18069,$2191.00
1,Brooklyn,59006,$2033.50,65757,$1743.75,83105,$1900.00,136910,$2106.25,275336,...,487618,$2450.00,629297,$2475.00,580416,$2256.00,359197,$2847.50,296376,$3125.00
2,Manhattan,441207,$2847.50,395231,$3157.00,456434,$3275.00,576566,$3282.50,697721,...,675302,$3500.00,1013629,$3172.50,806908,$3267.50,506199,$4213.00,481479,$4471.50
3,Queens,19596,$1538.25,18369,$1550.00,30753,$1825.00,40171,$1743.75,89093,...,177469,$2010.75,205331,$2025.00,232639,$2004.25,146431,$2300.00,113475,$2500.00
4,Staten Island,55,$nan,57,$nan,139,$1400.00,331,$1487.50,522,...,812,$2022.50,481,$1925.00,627,$1975.00,925,$2050.00,742,$2095.00

In [35]:
df_median_price = pd.read_csv("Yearly_Median_Rent_DF.csv")
df_median_price.head()

,Borough,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Manhattan,$2847.50,$3157.00,$3275.00,$3282.50,$3270.00,$3394.00,$3412.50,$3318.00,$3334.50,$3500.00,$3172.50,$3267.50,$4213.00,$4471.50
1,Queens,$1538.25,$1550.00,$1825.00,$1743.75,$1799.00,$1850.00,$1937.50,$1993.00,$2000.00,$2010.75,$2025.00,$2004.25,$2300.00,$2500.00
2,Brooklyn,$2033.50,$1743.75,$1900.00,$2106.25,$2225.00,$2300.00,$2300.00,$2335.00,$2400.00,$2450.00,$2475.00,$2256.00,$2847.50,$3125.00
3,Bronx,$1425.00,$1210.75,$1425.00,$1275.00,$1331.50,$1400.00,$1552.00,$1695.00,$1800.00,$1829.00,$1850.00,$1851.00,$1985.00,$2191.00
4,Staten Island,$nan,$nan,$1400.00,$1487.50,$1675.00,$1662.50,$1990.00,$1921.50,$1865.00,$2022.50,$1925.00,$1975.00,$2050.00,$2095.00

In [44]:

data = pd.read_csv('your_data.csv')

# Extract the borough names
boroughs = data['Borough']

# Extract and clean the median rent values by removing '$' and converting to float
years = [str(year) for year in range(2010, 2024)]
for year in years:
    data[year] = data[year].str.replace('$', '').astype(float)

# Sort the data by median rent in descending order for each year
sorted_data = data[years].apply(pd.to_numeric).sort_values(by=years, axis=1, ascending=False)

# Create a bar chart for median rental prices by borough
plt.figure(figsize=(12, 6))
bar_width = 0.15
index = range(len(boroughs))

for i, year in enumerate(years):
    median_rent = sorted_data[year]
    plt.bar([x + i * bar_width for x in index], median_rent, width=bar_width, label=year)

plt.xlabel('Borough')
plt.ylabel('Median Rent')
plt.title('Median Rental Prices by Borough (2010-2023, Descending Order)')
plt.xticks([x + bar_width * (len(years) - 1) / 2 for x in index], boroughs)
plt.legend(title='Year')
plt.grid(axis='y')
plt.tight_layout()

plt.show()

FileNotFoundError: [Errno 2] No such file or directory: 'your_data.csv'